<%- include('header') %> <%- include('navbar') %>
<html>
  <body>
    <div class="row ms-3">
      <h2 class="row">Login</h2>
      <form action="/login" method="POST">
        <h5 class="ml-2 row">Username</h5>
        <input class="row ml-2 mb-2" type="text" name="username" />
        <h5 class="row ml-2">Password</h5>
        <input class="row ml-2 mb-2" type="password" name="password" />
        <a class="row ml-2" href="/register">register here</a>
        <input class="row ml-2" type="submit" value="Submit" />
      </form>
      <% if (response !== ``) { %>
      <h2><%=response%></h2>
      <% }; %>
    </div>
  </body>
</html>
<%- include ('footer') %>
